<div class="container-fluid">
    <div class="row-fluid">
<br/>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="text-center panel-title">USERS</h3></div>
                <div class="panel-body">

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="text-center panel-title">CHOOSE USER TO EDIT</h3></div>
                    <div class="panel-body">
                      <b>Users for {{wgClient.name}}</b>
                        <ul>
                            <li> Nosipho Ncala </li>
                            <li>  Nosipho Ncala  </li>
                            <li>  Nosipho Ncala </li>
                            <li> Nosipho Ncala </li>
                        </ul>
                         </div>

                    </div>
                </div>


<div class="col-sm-8">
    <div class="panel panel-info" ng-controller="wgClientController">
      <div class="panel-heading"><h3 class="text-center panel-title">{{currentWorkgroup.currentClient.currentUser.full_name}}</h3></div>
        <div class="panel-body">

          <form class="form-horizontal" role="form">
            <div class="col-sm-12">

               <div class="form-group">
                  <div class="col-sm-12">
                     <label for="wgClientUser_first_name" class="control-label col-sm-5">{{ 'first_name' | translate}}</label>
                       <div class="col-sm-7">
                         <input name="wgClientUser_first_name" id="wgClientUser_first_name" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.first_name">
                       </div>
                  </div>
               </div>
                <div class="form-group">
                   <div class="col-sm-12">
                    <label for="wgClientUserlast_name" class="control-label col-sm-5">{{ 'LAST_NAME' | translate}}</label>
                    <div class="col-sm-7">
                    <input name="wgClientUserlast_name" id="wgClientUserlast_name" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.last_name">
                     </div>
                    </div>
                </div>

                 <div class="form-group">
                   <div class="col-sm-12">
                     <label for="wgClientUser_full_name" class="control-label col-sm-5">{{ 'FULL_NAME' | translate}}</label>
                         <div class="col-sm-7">
                      <input name="wgClientUser_full_name" id="wgClientUser_full_name" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.full_name">
                         </div>
                   </div>
                 </div>

                 <div class="form-group">
                   <div class="col-sm-12">
                     <label for="wgClientUser_id" class="control-label col-sm-5">{{ 'ID' | translate}}</label>
                      <div class="col-sm-7">
                       <input name="wgClientUser_id" id="wgClientUser_id" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.id">
                       </div>
                    </div>
                 </div>

                 <div class="form-group">
                   <div class="col-sm-12">
                     <label for="wgClientUser_email" class="control-label col-sm-5">{{ 'EMAIL' | translate}}</label>
                       <div class="col-sm-7">
                         <input name="wgClientUser_email" id="wgClientUser_email" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.email">
                       </div>
                   </div>
                  </div>

                 <div class="form-group">
                    <div class="col-sm-12">
                       <label for="wgClientUser_noosh_usename" class="control-label col-sm-5">{{ 'NOOSH_USERNAME' | translate}}</label>
                          <div class="col-sm-7">
                             <input name="wgClientUser_noosh_usename" id="wgClientUser_noosh_usename" type="text" class="form-control" ng-model="currentWorkgroup.currentClient.currentUser.noosh_usename">
                           </div>
                     </div>
                  </div>

            </div>


              <div class="form-group">
                  <div class="col-sm-12">
                      <button class="btn btn-primary col-sm-2" style="float:right" type="submit" ng-click="">Back to Client</button>
                      <button class="btn btn-primary col-sm-2" style="float:right" type="submit"  ng-click="">Save</button>
                      <button class="btn btn-primary col-sm-2" style="float:right" type="submit" ng-click="">Reset</button>
                  </div>
              </div>
          </form>
        </div>
      </div>

      </div>
    </div>
</div>
        </div>
</div>
</div>