<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="h3 panel-title">{{'USER_DETAILS' | translate}} {{currentUser.full_name}}</span>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="form-group  row has-feedback">
                <label for="user_full_name" class="control-label col-sm-6">{{'FULL_NAME'| translate}}</label>

                <div class="col-sm-12">
                    <input name="user_full_name" id="user_full_name" type="text" class="form-control"
                           ng-model="currentUser.full_name" readonly>
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label for="user_first_name" class="control-label col-sm-6">{{'FIRST_NAME'| translate}}</label>

                <div class="col-sm-12">
                    <input name="user_first_name" id="user_first_name" type="text" class="form-control"
                           ng-model="currentUser.first_name"
                           ng-change="userSetFullName()">
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label for="user_last_name" class="control-label col-sm-6">{{'LAST_NAME'| translate}}</label>

                <div class="col-sm-12">
                    <input name="user_last_name" id="user_last_name" type="text" class="form-control"
                           ng-model="currentUser.last_name"
                           ng-change="userSetFullName()">
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label for="user_dropbox_folder" class="control-label col-sm-6">{{'DROPBOX_FOLDER'| translate}}</label>

                <div class="col-sm-12">
                    <input name="user_dropbox_folder" id="user_dropbox_folder" type="text" class="form-control"
                           ng-model="currentUser.dropbox_folder"
                           ng-change="userSetFullName()">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group  row has-feedback">
                <label for="user_id" class="control-label col-sm-6">{{'ID'| translate}}</label>

                <div class="col-sm-12">
                    <input name="type" id="user_id" type="text" class="form-control"
                           ng-model="currentUser.id">
                </div>
            </div>
            <div class="form-group  row has-feedback">
                <label for="user_noosh_username" class="control-label col-sm-6">{{'NOOSH_USERNAME'| translate}}</label>

                <div class="col-sm-12">
                    <input name="type" id="user_noosh_username" type="text" class="form-control"
                           ng-model="currentUser.noosh_username">
                </div>
            </div>
            <div class="form-group  row has-feedback">
                <label for="user_email" class="control-label col-sm-6">{{'EMAIL'| translate}}</label>

                <div class="col-sm-12">
                    <input name="type" id="user_email" type="email" class="form-control"
                           ng-model="currentUser.email">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group-sm" style="padding:6px">
        <button type="button" class="btn btn-danger btn-s" ng-click="saveCurrentUser()"
                ng-disabled="false">
            <span translate="SAVE_USER"/>
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="addUser()"
                ng-disabled="false">
            <span translate="ADD_USER"/>
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="deleteUser()"
                ng-disabled="false">
            <span translate="DELETE_USER"/>
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="copyUser()"
                ng-disabled="false">
            <span translate="COPY_USER"/>
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="pasteUser()"
                ng-disabled="false">
            <span translate="PASTE_USER"/>
        </button>
    </div>
</div>

</div>


