<div class="container-fluid" style="width:800px;margin-top:20px;margin-left:20px;">
    <div class="panel panel-info" ng-controller="editorController">
        <div class="panel-heading">
            <span class="h3 panel-title" translate="WORKGROUP_EDITOR"/>
        </div>
        <div class="panel-body">
            <div class="row" style="margin:6px;padding-bottom:4px">
                <div class="col-sm-4">
                    <select class="form-control" id="selectedWorkgroup"
                            ng-model="selectedWorkgroup"
                            ng-options="w as w.name for w in workgroups"
                            ng-change="selectWorkgroup(selectedWorkgroup)">
                    </select>
                </div>
            </div>
            <div class="row" style="margin:6px;padding-bottom:4px">
                <workgroup-details-panel/>
            </div>
        </div>
    </div>
</div>